body   {
    margin: 0;
    padding: 0;
    background: #B6B6B6;
    color: #eef3f9;
    font-family: "Roboto", serif;
    font-weight: 200;
    font-style: normal;
}

.top-wrapper {
    background-image: url("../img/top-bg.png");
    background-position: 20% 80%;
    background-color: #2A2A2A;
    color: #fff;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    padding: 10px;
    border-top: 5px solid #303030;
    border-bottom: 1px solid #B6B6B6;
}
.bread-wrapper{
    background: #303030;
    padding: 18px 10px 10px 30px;
    /* box-shadow: 0 0px 50px 0px #000; */
}
span.adjust {
    position: relative;
    font-size: 12px;
}
span.filecount {
    font-size: 10px;
    position: relative;
    top:-13px;
    left: -5px;
    color: #B6B6B6;
}
.logo {
    text-align: center;

}
.admin{
    position: relative;
    top: 20px;
}
.bread {
    vertical-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
.bread a {
    color: #44aaee;
    text-decoration: none;
}
/* ---------- IMAGES DEFINITIONS ---------------- */
.gallery-container {
    /* padding: 10px;
    margin: auto;
    width: 95%; */
    display: inline-block;
    justify-content: center;
    background: #B6B6B6;


}
.attr-folder{
    position: relative;
    bottom: 100px;
    left: 10px;
    height:0;
    z-index: 99;

    background-color: #2A2A2A;
    font-size: 12px;
}

.image-wrapper {
    background: #303030;
  float: left;
    position: relative;
    margin: 10px;
    border: 1px solid #ADAEC0;
    box-shadow: 0 0px 10px 0px #000;
    border-radius: 5px;
}
.image-wrapper img {
    padding: 5px 5px 5px 5px;
}
.image img {

}
img.type{
    position: absolute;
    top: -10px;
    right: 5px;
    z-index: 99;
}
div.desc {
  padding: 5px 15px 15px 15px;
  text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* PAGINATION */
.navi{
    text-align: center;
    padding: 10px;
    background: #B6B6B6;
}
.pagination {
  display: inline-block;
    text-align: center;
}

.pagination a {
  color: #2F3235;
  float: left;
  padding: 2px 8px 1px 8px;
  text-decoration: none;
    font-size: 14px;
}

.pagination a.active {
  background-color: #0074D9;
  color: #B6B6B6;
border-radius: 5px;
    font-weight: bold;
}
a.adjusted {
    font-size: 18px;
    font-weight: bold;

}

.pagination a:hover:not(.active) {background-color: #FFB5A8; border-radius: 5px;}
