<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Gallery</title>

</head>
<body>
    <h1><img src="{{ url_for('static', filename='images/logo.png') }}" alt="IDDG" title="Incama's Directory Drive Galery"></h1>

    <!-- Breadcrumb Navigation -->
    <div class="breadcrumb">
        <a href="{{ url_for('gallery') }}">Gallery</a>
        {% for i, crumb in enumerate(breadcrumb) %}
            <span>|</span>
            <a href="{{ url_for('subgallery', subpath='/'.join(breadcrumb[:i+1])) }}">{{ crumb }}</a>
        {% endfor %}
    </div>

<div class="row">
    <div class=" column left">
    <!-- Folders Section -->
    <div class="folder_header"> <h2>Folders</h2></div>
        {% if parent_path %}
        <a href="{{ url_for('subgallery', subpath=parent_path) }}" class="back-button">Back</a>
        {% else %}
        <a href="{{ url_for('gallery') }}" class="back-button">Back to Home</a>
        {% endif %}
    <div class="folders">
        {% for folder in folders %}
            <div class="folder">
                <a href="{{ url_for('subgallery', subpath='/'.join(breadcrumb + [folder.name])) }}" title="{{ folder.name }}">
                    <img src="{{ folder.preview or url_for('static', filename='default_folder_thumb.png') }}" alt="{{ folder.name }}">
                    <!-- <img src="{{ url_for('static', filename='default_folder_thumb.png') }}" alt="{{ folder.name }}"> -->
                </a>
                <div class="folder_name">{{ folder.name | truncate(15) }}</div>
            </div>
        {% endfor %}
    </div>
    </div>

    <div class="column middle">
    <!-- Files Section -->
    <h2>Files</h2>
    <div class="files">
        {% for file in files %}
            <div class="file">
                {% if file.type == 'image' %}
                    <a href="{{ file.path }}">
                        <img src="{{ file.thumbnail }}" alt="{{ file.name }}">
                    </a>
                {% elif file.type == 'video' %}
                    <a href="{{ file.path }}">
                        <img src="{{ file.thumbnail }}" alt="{{ file.name }}">
                    </a>
                {% endif %}
               <!-- <div>{{ file.name | truncate(15) }}</div> -->
            </div>
        {% endfor %}
    </div>
    </div>
</div>
</body>
</html>